html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: #E5E7EB;
}

main {
    display: flex;
    flex-direction: column;
}

/* START SECTION - HEADER */

header {
    background-color: #1F2938;
}
nav {
    padding: 8px 32px;
}
ul {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
}
li {
    list-style: none;
}
li.logo{
    font-size: 1.5rem;
    font-weight: 700;
}
li#first-link {
    margin-left: auto;
}
a {
    text-decoration: none;
    color: inherit;
}

/* END SECTION */

/* START SECTION - CONTAINERS */

.container {
    display: flex;
}
.row {
    flex-direction: row;
}
.col {
    flex-direction: column;
}

/* END SECTION */

/* START SECTION - JUMBOTRON */

.jumbotron {
    background-color: #1F2938;
    align-items: center;
    padding: 32px 128px
}
.jumbotron h2 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}
.jumbotron img {
    align-self: center;
    width: 400px;
    height: auto;

    margin-left: 64px;
}
.jumbotron button {
    color: inherit;
    font-weight: 700;

    background-color: #3882F6;
    border: none;
    border-radius: 4px;
    padding: 8px;
    margin-top: 8px;

    width: 100px;
    height: auto;
}

/* END SECTION */

/* START SECTION - CONTENT */

.content {
    margin: 32px auto;
    padding: 0 128px;
}
.content h3 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    text-align: center;
    margin-bottom: 32px;
}
.content .row {
    gap: 16px;
}
.card {
    display: flex;
    flex-direction: column;
} 
.card p {
    color: #1F2937;
    text-align: center;
}
.card img {
    width: 150px;
    height: auto;
    align-self: center;

    border: 2px solid #3882F6;
    border-radius: 4px;

    margin-bottom: 8px;
}

/* END SECTION */

/* START SECTION - QUOTE */

.quote {
    background-color: #E5E7EB;
    padding: 64px 128px;
}

.quote blockquote {
    color: #405572;
    text-align: center;
    font-size: 32px;
    font-style: italic;
}

.cite {
    color: #1F2937;
    text-align: end;
    font-weight: extra-bold;
    font-style: normal;
    font-size: 24px;
}

.cta {
    align-items: center;

    background-color: #3882F6;

    margin: 64px 128px;
    padding: 32px 64px;
    border-radius: 8px;
}

.cta .sign-up {
    margin-left: auto;

    background-color: transparent;
    border: 1px solid #FFF;
    border-radius: 8px;
    padding: 8px 32px;

    color: #FFF;

    transition: 20ms ease-in-out;
}

.cta .sign-up:hover {
    background-color: #FFF;
    color: #3882F6;
}
